@font-face {
  font-family: "Stardate";
  src: url("../fonts/Stardate81316-aolE.woff2");
}

@font-face {
  font-family: "Exo2";
  font-style: normal;
  src: url("../fonts/Exo2-VariableFont_wght.woff2") format("woff2-variations");
}

/*
@font-face {
  font-family: "Exo2";
  font-style: italic;
  src: url("../fonts/Exo2-Italic-VariableFont_wght.woff2") format("woff2-variations");
}
*/

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

html {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/ann0912a.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#page-container {
  position: relative;
  min-height: 90vh;
}

body {
  font-family: "Exo2", Verdana, sans-serif;
  text-align: center;
  color: white;
}

@media only screen and (min-width: 1400px) {
  body {
    font-size: large;
  }
}

h1 {
  font-family: "Stardate", fantasy;
  font-size: 500%;
  text-decoration: underline;
}

#button-row {
  font-family: "Stardate", fantasy;
  font-size: 300%;
  display: flex;
  justify-content: center;
  align-items: center;
}

span.button {
  margin-left: 1em;
  margin-right: 1em;
}

span.button.toggled {
  color: red;
}

span.button:hover {
  text-decoration: overline;
}

main {
  font-size: 150%;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

main div {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

div.content {
  display: none;
}

#content-about, #content-services {
  text-align: left;
}

#content-contact {
  font-size: 150%;
}

.link {
  text-decoration: underline;
}

.link:hover {
  color: red;
}

#my-email::after {
  content: attr(data-domain);
}

#my-email::before {
  content: attr(data-user) " " "\0040" " ";
}

footer {
  color: grey;
  position: absolute;
  bottom: 0;
  height: 2.5em;
  width: 100%;
}

footer a {
  color: grey;
}

@media only screen and (min-width: 1400px) {
  main {
    margin-left: 20%;
    margin-right: 20%;
  }
}


@media only screen and (min-height: 1000px) {
  #content-contact {
    padding-top: 3em;
  }

  #content-services ul li {
    margin-bottom: 1em;
  }
}
