@font-face {
  font-family: "Stardate";
  src: url("../fonts/Stardate81316-aolE.woff2");
}

@font-face {
  font-family: "Exo";
  src: url("../fonts/Exo-VariableFont_wght.woff2") format("woff2-variations");
  font-style: normal;
}

@font-face {
  font-family: "Exo";
  src: url("../fonts/Exo-Italic-VariableFont_wght.woff2") format("woff2-variations");
  font-style: italic;
}

html {
  background: url("../images/ann0912a.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: "Exo", Verdana, sans-serif;
  text-align: center;
  color: white;
}

h1 {
  font-family: "Stardate", fantasy;
  font-size: 7em;
  text-decoration: underline;
}

footer {
  position: fixed;
  bottom: 1%;
  width: 100%;
}

a:visited {
  color: white;
}